<a href="https://colab.research.google.com/github/piaseckazaneta/CV/blob/master/pandas_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
# Tworzenie DataFrame (główna struktura danych w pandas) i Series (jedno-wymiarowa tablica)

#Stwórz prosty DataFrame z danych w postaci słownika
data = {
    'Imię': ['Anna', 'Tomasz', 'Kasia'],
    'Wiek': [23, 34, 28]
}

df = pd.DataFrame(data)

print(df)

     Imię  Wiek
0    Anna    23
1  Tomasz    34
2   Kasia    28

In [4]:
# Tworzenie Series z listy

series = pd.Series([1, 2, 3, 4, 5])

print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
##### Zadanie 1: Stwórz DataFrame z danymi (np. imiona, wiek, miasto) o co najmniej 5 wierszach.

dane = {
    'imie': ['Maryla', 'Basia', 'Ola', 'Jarek', 'Zuza'],
    'wiek': [50, 32, 15, 31, 18],
    'miasto': ['Gdynia', 'Warszawa', 'Poznan', 'Gdynia', 'Poznan']
}

df = pd.DataFrame(dane)

print(df)

     imie  wiek    miasto
0  Maryla    50    Gdynia
1   Basia    32  Warszawa
2     Ola    15    Poznan
3   Jarek    31    Gdynia
4    Zuza    18    Poznan

In [6]:
# Zrób przegląd danych: wyświetl pierwsze i ostatnie 3 wiersze za pomocą df.head() i df.tail().

print(df.head(3))
print(df.tail(3))

     imie  wiek    miasto
0  Maryla    50    Gdynia
1   Basia    32  Warszawa
2     Ola    15    Poznan
    imie  wiek  miasto
2    Ola    15  Poznan
3  Jarek    31  Gdynia
4   Zuza    18  Poznan

In [12]:
##### Zadanie 2 ###########
# Stwórz DataFrame z różnymi typami danych: tekst, liczby całkowite, liczby zmiennoprzecinkowe, daty.
# Zastosuj konwersję typów danych w kolumnach (np. zmień kolumnę z datą na typ datetime).
# Spróbuj użyć funkcji df.dtypes i pd.to_datetime(), aby upewnić się, że odpowiednie kolumny mają właściwe typy.

dane = {
    'imie': ['Jan', 'Halina', 'Tomek'],
    'wiek': [50, 18, 33],
    'wzrost': [1.78, 1.64, 1.85],
    'data_urodzenia': ['1987-07-12', '1975-09-15', '2001-01-23']
}

df = pd.DataFrame(dane)
print(df)

     imie  wiek  wzrost data_urodzenia
0     Jan    50    1.78     1987-07-12
1  Halina    18    1.64     1975-09-15
2   Tomek    33    1.85     2001-01-23

In [14]:
df['data_urodzenia'] = pd.to_datetime(df['data_urodzenia'])
print(df.dtypes)

imie                      object
wiek                       int64
wzrost                   float64
data_urodzenia    datetime64[ns]
dtype: object