<a href="https://colab.research.google.com/github/piaseckazaneta/CV/blob/master/theEnergyStarScore_project_part_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The objective is to use the energy data to build a model that can predict the Energy Star Score of a building and interpret the results to find the factors which influence the score.

The data includes the Energy Star Score, which makes this a supervised regression machine learning task:

Supervised: we have access to both the features and the target and our goal is to train a model that can learn a mapping between the two
Regression: The Energy Star score is a continuous variable

We want to develop a model that is both accurate — it can predict the Energy Star Score close to the true value — and interpretable — we can understand the model predictions. Once we know the goal, we can use it to guide our decisions as we dig into the data and build models.

1. Data Cleaning
Real-world data is messy which means we need to clean and wrangle it into an acceptable format before we can even start the analysis. Data cleaning is an un-glamorous, but necessary part of most actual data science problems.

In [5]:
#1.1. Import libraries

import pandas as pd
import numpy as np

#1.2. # Read in data into a dataframe

data = pd.read_csv('Energy_and_Water_Data_Disclosure_for_Local_Law_84_2017__Data_for_Calendar_Year_2016_.csv')

data.head()

,Order,Property Id,Property Name,Parent Property Id,Parent Property Name,BBL - 10 digits,"NYC Borough, Block and Lot (BBL) self-reported",NYC Building Identification Number (BIN),Address 1 (self-reported),Address 2,...,Source EUI (kBtu/ft²),Release Date,Water Required?,DOF Benchmarking Submission Status,Latitude,Longitude,Community Board,Council District,Census Tract,NTA
0,1,13286,201/205,13286,201/205,1013160001,1013160001,1037549,201/205 East 42nd st.,Not Available,...,619.4,05/01/2017 05:32:03 PM,No,In Compliance,40.750791,-73.973963,6.0,4.0,88.0,Turtle Bay-East Midtown ...
1,2,28400,NYP Columbia (West Campus),28400,NYP Columbia (West Campus),1021380040,1-02138-0040,1084198; 1084387;1084385; 1084386; 1084388; 10...,622 168th Street,Not Available,...,404.3,04/27/2017 11:23:27 AM,No,In Compliance,40.841402,-73.942568,12.0,10.0,251.0,Washington Heights South ...
2,3,4778226,MSCHoNY North,28400,NYP Columbia (West Campus),1021380030,1-02138-0030,1063380,3975 Broadway,Not Available,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.840427,-73.940249,12.0,10.0,251.0,Washington Heights South ...
3,4,4778267,Herbert Irving Pavilion & Millstein Hospital,28400,NYP Columbia (West Campus),1021390001,1-02139-0001,1087281; 1076746,161 Fort Washington Ave,177 Fort Washington Ave,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.840746,-73.942854,12.0,10.0,255.0,Washington Heights South ...
4,5,4778288,Neuro Institute,28400,NYP Columbia (West Campus),1021390085,1-02139-0085,1063403,710 West 168th Street,Not Available,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.841559,-73.942528,12.0,10.0,255.0,Washington Heights South ...

This is a subset of the full data which contains 60 columns. Already, we can see a couple issues: first, we know that we want to predict the ENERGY STAR Score but we don’t know what any of the columns mean. While this isn’t necessarily an issue — we can often make an accurate model without any knowledge of the variables — we want to focus on interpretability, and it might be important to understand at least some of the columns.

When I originally got the assignment from the start-up, I didn’t want to ask what all the column names meant, so I looked at the name of the file,


and decided to search for “Local Law 84”. That led me to this page which explains this is an NYC law requiring all buildings of a certain size to report their energy use.

More searching brought me to all the definitions of the columns. Maybe looking at a file name is an obvious place to start, but for me this was a reminder to go slow so you don’t miss anything important!

We don’t need to study all of the columns, but we should at least understand the Energy Star Score, which is described as:

A 1-to-100 percentile ranking based on self-reported energy usage for the reporting year. The Energy Star score is a relative measure used for comparing the energy efficiency of buildings.

That clears up the first problem, but the second issue is that missing values are encoded as “Not Available”. This is a string in Python which means that even the columns with numbers will be stored as object datatypes because Pandas converts a column with any strings into a column of all strings. We can see the datatypes of the columns using the dataframe.info()method:

In [4]:
# See the column data types and non-missing values

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11746 entries, 0 to 11745
Data columns (total 60 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Order                                                       11746 non-null  int64
 1   Property Id                                                 11746 non-null  int64
 2   Property Name                                               11746 non-null  object
 3   Parent Property Id                                          11746 non-null  object
 4   Parent Property Name                                        11746 non-null  object
 5   BBL - 10 digits                                             11735 non-null  object
 6   NYC Borough, Block and Lot (BBL) self-reported              11746 non-null  object
 7   NYC Building Identification Number (BIN)                    11746 non-null  object
 8   Address 1 (self-reported)                                   11746 non-null  object
 9   Address 2                                                   11746 non-null  object
 10  Postal Code                                                 11746 non-null  object
 11  Street Number                                               11622 non-null  object
 12  Street Name                                                 11624 non-null  object
 13  Borough                                                     11628 non-null  object
 14  DOF Gross Floor Area                                        11628 non-null  float64
 15  Primary Property Type - Self Selected                       11746 non-null  object
 16  List of All Property Use Types at Property                  11746 non-null  object
 17  Largest Property Use Type                                   11746 non-null  object
 18  Largest Property Use Type - Gross Floor Area (ft²)          11746 non-null  object
 19  2nd Largest Property Use Type                               11746 non-null  object
 20  2nd Largest Property Use - Gross Floor Area (ft²)           11746 non-null  object
 21  3rd Largest Property Use Type                               11746 non-null  object
 22  3rd Largest Property Use Type - Gross Floor Area (ft²)      11746 non-null  object
 23  Year Built                                                  11746 non-null  int64
 24  Number of Buildings - Self-reported                         11746 non-null  int64
 25  Occupancy                                                   11746 non-null  int64
 26  Metered Areas (Energy)                                      11746 non-null  object
 27  Metered Areas  (Water)                                      11746 non-null  object
 28  ENERGY STAR Score                                           11746 non-null  object
 29  Site EUI (kBtu/ft²)                                         11746 non-null  object
 30  Weather Normalized Site EUI (kBtu/ft²)                      11746 non-null  object
 31  Weather Normalized Site Electricity Intensity (kWh/ft²)     11746 non-null  object
 32  Weather Normalized Site Natural Gas Intensity (therms/ft²)  11746 non-null  object
 33  Weather Normalized Source EUI (kBtu/ft²)                    11746 non-null  object
 34  Fuel Oil #1 Use (kBtu)                                      11746 non-null  object
 35  Fuel Oil #2 Use (kBtu)                                      11746 non-null  object
 36  Fuel Oil #4 Use (kBtu)                                      11746 non-null  object
 37  Fuel Oil #5 & 6 Use (kBtu)                                  11746 non-null  object
 38  Diesel #2 Use (kBtu)                                        11746 non-null  object
 39  District Steam Use (kBtu)                                   11746 non-null  object
 40  Natural Gas Use (kBtu)                                      11746 non-null  object
 41  Weather Normalized Site Natural Gas Use (therms)            11746 non-null  object
 42  Electricity Use - Grid Purchase (kBtu)                      11746 non-null  object
 43  Weather Normalized Site Electricity (kWh)                   11746 non-null  object
 44  Total GHG Emissions (Metric Tons CO2e)                      11746 non-null  object
 45  Direct GHG Emissions (Metric Tons CO2e)                     11746 non-null  object
 46  Indirect GHG Emissions (Metric Tons CO2e)                   11746 non-null  object
 47  Property GFA - Self-Reported (ft²)                          11746 non-null  int64
 48  Water Use (All Water Sources) (kgal)                        11746 non-null  object
 49  Water Intensity (All Water Sources) (gal/ft²)               11746 non-null  object
 50  Source EUI (kBtu/ft²)                                       11746 non-null  object
 51  Release Date                                                11746 non-null  object
 52  Water Required?                                             11628 non-null  object
 53  DOF Benchmarking Submission Status                          11716 non-null  object
 54  Latitude                                                    9483 non-null   float64
 55  Longitude                                                   9483 non-null   float64
 56  Community Board                                             9483 non-null   float64
 57  Council District                                            9483 non-null   float64
 58  Census Tract                                                9483 non-null   float64
 59  NTA                                                         9483 non-null   object
dtypes: float64(6), int64(6), object(48)
memory usage: 5.4+ MB

Sure enough, some of the columns that clearly contain numbers (such as ft²), are stored as objects. We can’t do numerical analysis on strings, so these will have to be converted to number (specifically float) data types!

Here’s a little Python code that replaces all the “Not Available” entries with not a number ( np.nan), which can be interpreted as numbers, and then converts the relevant columns to the float datatype:

In [6]:
# Replace all occurrences of Not Available with numpy not a number
data = data.replace({'Not Available': np.nan})

In [7]:
# Iterate through the columns
for col in list(data.columns):
    # Select columns that should be numeric
    if ('ft²' in col or 'kBtu' in col or 'Metric Tons CO2e' in col or 'kWh' in
        col or 'therms' in col or 'gal' in col or 'Score' in col):
        # Convert the data type to float
        data[col] = data[col].astype(float)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11746 entries, 0 to 11745
Data columns (total 60 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Order                                                       11746 non-null  int64
 1   Property Id                                                 11746 non-null  int64
 2   Property Name                                               11746 non-null  object
 3   Parent Property Id                                          11746 non-null  object
 4   Parent Property Name                                        11746 non-null  object
 5   BBL - 10 digits                                             11735 non-null  object
 6   NYC Borough, Block and Lot (BBL) self-reported              11735 non-null  object
 7   NYC Building Identification Number (BIN)                    11584 non-null  object
 8   Address 1 (self-reported)                                   11746 non-null  object
 9   Address 2                                                   207 non-null    object
 10  Postal Code                                                 11746 non-null  object
 11  Street Number                                               11622 non-null  object
 12  Street Name                                                 11624 non-null  object
 13  Borough                                                     11628 non-null  object
 14  DOF Gross Floor Area                                        11628 non-null  float64
 15  Primary Property Type - Self Selected                       11746 non-null  object
 16  List of All Property Use Types at Property                  11746 non-null  object
 17  Largest Property Use Type                                   11744 non-null  object
 18  Largest Property Use Type - Gross Floor Area (ft²)          11744 non-null  float64
 19  2nd Largest Property Use Type                               3741 non-null   object
 20  2nd Largest Property Use - Gross Floor Area (ft²)           3741 non-null   float64
 21  3rd Largest Property Use Type                               1484 non-null   object
 22  3rd Largest Property Use Type - Gross Floor Area (ft²)      1484 non-null   float64
 23  Year Built                                                  11746 non-null  int64
 24  Number of Buildings - Self-reported                         11746 non-null  int64
 25  Occupancy                                                   11746 non-null  int64
 26  Metered Areas (Energy)                                      11689 non-null  object
 27  Metered Areas  (Water)                                      7137 non-null   object
 28  ENERGY STAR Score                                           9642 non-null   float64
 29  Site EUI (kBtu/ft²)                                         11583 non-null  float64
 30  Weather Normalized Site EUI (kBtu/ft²)                      10281 non-null  float64
 31  Weather Normalized Site Electricity Intensity (kWh/ft²)     10959 non-null  float64
 32  Weather Normalized Site Natural Gas Intensity (therms/ft²)  9783 non-null   float64
 33  Weather Normalized Source EUI (kBtu/ft²)                    10281 non-null  float64
 34  Fuel Oil #1 Use (kBtu)                                      9 non-null      float64
 35  Fuel Oil #2 Use (kBtu)                                      2581 non-null   float64
 36  Fuel Oil #4 Use (kBtu)                                      1321 non-null   float64
 37  Fuel Oil #5 & 6 Use (kBtu)                                  594 non-null    float64
 38  Diesel #2 Use (kBtu)                                        16 non-null     float64
 39  District Steam Use (kBtu)                                   936 non-null    float64
 40  Natural Gas Use (kBtu)                                      10304 non-null  float64
 41  Weather Normalized Site Natural Gas Use (therms)            9784 non-null   float64
 42  Electricity Use - Grid Purchase (kBtu)                      11502 non-null  float64
 43  Weather Normalized Site Electricity (kWh)                   10960 non-null  float64
 44  Total GHG Emissions (Metric Tons CO2e)                      11672 non-null  float64
 45  Direct GHG Emissions (Metric Tons CO2e)                     11663 non-null  float64
 46  Indirect GHG Emissions (Metric Tons CO2e)                   11681 non-null  float64
 47  Property GFA - Self-Reported (ft²)                          11746 non-null  float64
 48  Water Use (All Water Sources) (kgal)                        7762 non-null   float64
 49  Water Intensity (All Water Sources) (gal/ft²)               7762 non-null   float64
 50  Source EUI (kBtu/ft²)                                       11583 non-null  float64
 51  Release Date                                                11746 non-null  object
 52  Water Required?                                             11628 non-null  object
 53  DOF Benchmarking Submission Status                          11716 non-null  object
 54  Latitude                                                    9483 non-null   float64
 55  Longitude                                                   9483 non-null   float64
 56  Community Board                                             9483 non-null   float64
 57  Council District                                            9483 non-null   float64
 58  Census Tract                                                9483 non-null   float64
 59  NTA                                                         9483 non-null   object
dtypes: float64(32), int64(5), object(23)
memory usage: 5.4+ MB

Once the correct columns are numbers, we can start to investigate the data.

Missing Data and Outliers
In addition to incorrect datatypes, another common problem when dealing with real-world data is missing values. These can arise for many reasons and have to be either filled in or removed before we train a machine learning model. First, let’s get a sense of how many missing values are in each column (see the notebook for code).

Now that we have the correct column datatypes, we can start analysis by looking at the percentage of missing values in each column. Missing values are fine when we do Exploratory Data Analysis, but they will have to be filled in for machine learning methods.

In [8]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()

        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)

        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})

        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)

        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
         # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [9]:
missing_values_table(data)

Your selected dataframe has 60 columns.
There are 46 columns that have missing values.

,Missing Values,% of Total Values
Fuel Oil #1 Use (kBtu),7311,99.9
Diesel #2 Use (kBtu),7306,99.8
Address 2,7203,98.4
Fuel Oil #5 & 6 Use (kBtu),6829,93.3
District Steam Use (kBtu),6387,87.3
Fuel Oil #4 Use (kBtu),6213,84.9
3rd Largest Property Use Type,6164,84.2
3rd Largest Property Use Type - Gross Floor Area (ft²),6164,84.2
Fuel Oil #2 Use (kBtu),5713,78.1
2nd Largest Property Use Type,4575,62.5
2nd Largest Property Use - Gross Floor Area (ft²),4575,62.5
Metered Areas (Water),2803,38.3
Water Use (All Water Sources) (kgal),2611,35.7
Water Intensity (All Water Sources) (gal/ft²),2611,35.7
ENERGY STAR Score,1476,20.2
Weather Normalized Site Natural Gas Intensity (therms/ft²),1442,19.7
Weather Normalized Site Natural Gas Use (therms),1441,19.7
Natural Gas Use (kBtu),1156,15.8
Weather Normalized Site EUI (kBtu/ft²),903,12.3
Weather Normalized Source EUI (kBtu/ft²),903,12.3
Weather Normalized Site Electricity Intensity (kWh/ft²),496,6.8
Weather Normalized Site Electricity (kWh),495,6.8
Longitude,257,3.5
Latitude,257,3.5
Community Board,257,3.5
Council District,257,3.5
Census Tract,257,3.5
NTA,257,3.5
Electricity Use - Grid Purchase (kBtu),194,2.7
Source EUI (kBtu/ft²),131,1.8
Site EUI (kBtu/ft²),131,1.8
Street Number,114,1.6
Street Name,112,1.5
Borough,110,1.5
DOF Gross Floor Area,110,1.5
Water Required?,102,1.4
NYC Building Identification Number (BIN),84,1.1
Metered Areas (Energy),56,0.8
Direct GHG Emissions (Metric Tons CO2e),45,0.6
Total GHG Emissions (Metric Tons CO2e),41,0.6
Indirect GHG Emissions (Metric Tons CO2e),34,0.5
"NYC Borough, Block and Lot (BBL) self-reported",11,0.2
BBL - 10 digits,11,0.2
Largest Property Use Type,2,0.0
Largest Property Use Type - Gross Floor Area (ft²),2,0.0
DOF Benchmarking Submission Status,1,0.0

While we always want to be careful about removing information, if a column has a high percentage of missing values, then it probably will not be useful to our model. The threshold for removing columns should depend on the problem (here is a discussion), and for this project, we will remove any columns with more than 50% missing values.

At this point, we may also want to remove outliers. These can be due to typos in data entry, mistakes in units, or they could be legitimate but extreme values. For this project, we will remove anomalies based on the definition of extreme outliers:

Below the first quartile − 3 ∗ interquartile range
Above the third quartile + 3 ∗ interquartile range

In [10]:
# Get the columns with > 50% missing
missing_df = missing_values_table(data);
missing_columns = list(missing_df[missing_df['% of Total Values'] > 50].index)
print('We will remove %d columns.' % len(missing_columns))

Your selected dataframe has 60 columns.
There are 46 columns that have missing values.
We will remove 11 columns.

In [11]:
# Drop the columns
data = data.drop(columns = list(missing_columns))

# For older versions of pandas (https://github.com/pandas-dev/pandas/issues/19078)
# data = data.drop(list(missing_columns), axis = 1)

The rest of the missing values will have to be imputed (filled-in) using an appropriate strategy before doing machine learning.